* {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
}

header,
main {
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* shared style   */
:root {
    --header-color: #131318;
    --primary-color: #FF5400;
    --description-color: #5A5A5D;
    --img-text: #FFFFFF;
    --nav-color: #424247;
}

.primary-btn {
    padding: 20px 40px;
    min-width: 77px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--img-text);
    cursor: pointer;
    translate: transform 0.5s ease;
}

.primary-btn:active {
    transform: scale(0.98);
}

/* shared style  end  */
/* header style  */
header#home {
    margin-bottom: 150px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
}

/* logo style  */

.logo-container>a {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: var(--header-color);
}

.logo-container>a:hover {
    text-decoration: underline 2px solid #FF5400;
}

h1.logo-text {
    font-size: 36px;
    font-weight: 700;
}

span.logo-travel-text {
    color: var(--primary-color);
}

/* nav style  */
.nav-icon-container {
    display: none;
}

ul.nav-container-li {
    list-style: none;
    display: flex;
    gap: 50px;
}

ul.nav-container-li>li>a {
    text-decoration: none;
    color: var(--nav-color);
    font-size: 18px;
}

ul.nav-container-li>li>a:active {
    color: var(--primary-color);
}

ul.nav-container-li>li>a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

/* header style  */
.header-container-heading {
    background-image: linear-gradient(181deg, #08194b 0%, transparent), url(../image/header-background.png);
    background-repeat: no-repeat;
    top: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 60px;
    border-radius: 10px;
}

.header-titel-container {
    text-align: center;
    width: 729px;
    margin: 0 auto;
    padding: 175px 0px 30px 0px;
}

h1.header-title {
    color: var(--img-text);
    font-size: 62px;
    font-weight: 800;
    margin-bottom: 20px;
}

p.header-description {
    color: var(--img-text);
    font-size: 16px;
    font-weight: 300;
}

.header-container-input {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 160px;
}

.header-input {
    padding: 20px 30px;
    min-width: 77px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    width: 230px;
}

.header-input:focus {
    border: none;
}

.header-input-felt {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
    padding: 50px 30px;
    width: 1060px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
}

.header-input-felt:hover {
    backdrop-filter: blur(10px);
}

select#when-select-option {
    cursor: pointer;
    background-image: url('../image/icon/aro-icon.png');
    background-repeat: no-repeat;
    background-position: 178px;
    background-size: 32px;
    appearance: none;
}

svg.button-search-icon {
    width: 22px;
    padding-right: 5px;
    filter: invert();
}

.header-input-parent>button {
    width: 230px;
    flex: 0 0 50%;
}

/* header style end */
/* our popular tours style */
.our-popular-tours {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trues-container {
    width: 620px;
}

h2.our-popular-tours,
h2.hero-section-header {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 20px;
}

p.our-popular-tours-description,
p.hero-sections-description {
    color: var(--description-color);
    line-height: 24px;
    font-weight: 300;
}

ul.our-popular-tours-feature {
    width: 480px;
    line-height: 25px;
    font-weight: 300;
}

ul.our-popular-tours-feature>li {
    margin: 20px;
    color: var(--description-color);
}

button.primary-btn.our-popular-tours-button {
    margin-top: 35px;
}

img.trues-container-img {
    width: 100%;
}

/* our popular tours style end */
/* hero section style  */
.hero-sections {
    text-align: center;
    width: 600px;
    margin: 140px auto;
}

/* hero-sections style end  */
/* destination-section style  */
h2.destination-text {
    color: var(--img-text);
    font-weight: 700;
    font-size: 32px;
}

#destination-item-maldives {
    background-image: url('../image/maldives.png');

}

#destination-item-indonesia {
    background-image: url('../image/indonesia.png');

}

section.destination-section-1 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    cursor: pointer;
    /* max-width: 1300px; */
    width: 100%;
    margin: 20px auto;
}

section.destination-section-1>div>a>div>h2 {
    color: var(--img-text);
    font-weight: 700;
    font-size: 32px;
}

section.destination-section-1>div>a>div {
    padding: 140px 276px;
}

section.destination-section-2 {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    gap: 20px;
}

#destination-item-srilanka {
    background-image: url('../image/srilanka.png');
}

#destination-item-north-america {
    background-image: url('../image/north-america.png');
}

#destination-item-kashmir {
    background-image: url('../image/kashmir.png');
}


.destination-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px;
}

.destination-img {

    max-width: 115%;
    height: auto;
    width: 115%;
}

.destination-item>a {
    text-decoration: none;
}

.destination-item>a:hover {
    text-decoration: underline 3px;
    color: var(--header-color);
}

section.destination-section-2>div>a>div>h2 {
    padding: 130px 148px;
    width: 100%;
}

div#destination-item-north-america>a>div>h2 {
    width: 230px;
    box-sizing: unset;
}

section.destination-section-3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 100%;
    margin: 20px auto;
}

div#destination-item-bangladesh {
    background-image: url('../image/bangladesh.png');
}

div#destination-item-bandarban {
    background-image: url('../image/bandarban.png');
    flex: 0 0 60%;
}

section.destination-section-3>div>a>div>h2 {
    padding: 150px 180px;
    text-align: center;
}

/* feature style sheet  */
section.feature-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.feature-card {
    margin: 40px;
    padding: 40px;
    width: 44%;
    border: solid 1px #ff8b8b;
    border-radius: 20px;
    background-color: rgba(233, 68, 68, 5%);

}

.feature-card:hover {
    margin: 40px;
    padding: 40px;
    /* width: 500px; */
    background-color: rgba(29, 206, 246, 5%);
    border: solid 1px #29CEF6;
    border-radius: 20px;
}

img.feature-img {
    width: 60px;
    margin-bottom: 20px;
}

p.feature-description {
    color: var(--description-color);
    margin: 20px 0px 20px 0px;
}

.feature-card.best-price-guarantee {
    flex: 0 0 44%;
    margin: 30px auto;

}

/* tour package style  */

.tore-image-container {
    text-align: center;
}

img.tore-image {
    width: 100%;
}

ul.tore-infor-unorder-list {
    list-style: none;
}

ul.tore-infor-unorder-list>li>img {
    width: 20px;
}

span.tore-infor-unorder-list-description {
    color: var(--description-color);
}

ul.tore-infor-unorder-list li {
    display: flex;
    gap: 10px;
    align-items: center;
}

ul.tore-infor-unorder-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 80px 0px 0px;
}

p.tore-packge-info-description {
    color: var(--description-color);
    margin-bottom: 20px;
}

h2.tore-packge-info-title {
    margin-bottom: 20px;
}

span.tore-packge-price {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-color);
}

.tore-text-info {
    width: 500px;
    background: rgba(255, 255, 255, 85%);
    padding: 30px;
    border-radius: 20px;
    margin-left: auto;
}

button.primary-btn.tore-package-button {
    margin-top: 20px;
}

section.tore-packge-container-section-1,
section.tore-packge-container-section-2,
section.tore-packge-container-section-3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 170px;
}


section.tore-packge-container-section-1,
section.tore-packge-container-section-3 {
    background-image: url('../image/satorini.png');

}

section.tore-packge-container-section-2 {
    background-image: url('../image/satorini-1.png');
}

section.tore-packge-container-section-2 .tore-text-info {
    margin: 0;
}

.see-all-package-button {
    text-align: center;
}

.feature-section-ture-card {
    margin-bottom: 30px;
}

/* package section style end */
/* promo-section style  */
section.promo-section.video-section {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
}

.promo-text-container,
.promo-video-container {
    width: 45%;
}

.promo-video-container>video {
    width: 100%;
    border-radius: 20px;
    height: auto;
}

p.promo-text-container-description {
    color: var(--description-color);
    margin: 20px 0;
}

ul.promo-text-container-ul {
    margin: 20px 20px;
}

ul.promo-text-container-ul>li {
    margin-bottom: 20px;
    font-weight: 500;
}

h2.promo-text-container-title.hero-section-header {
    font-size: 3.3rem;
}

/* form section code  */
section.contect-form-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
}

.content-form-container {
    border: solid #FF5400;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    height: auto;
}

h3.contect-header {
    font-size: 42px;
    margin: 20px 0;
}

p.content-description {
    color: var(--description-color);
    width: 350px;
    margin-bottom: 20px;
}

.content-form-container input {
    width: 97.3%;
    border: none;
    padding: 15px 0px 15px 20px;
    font-size: 16px;
    background-color: #ebebff;
    margin-bottom: 20px;
    border-radius: 5px;
}

.notification {
    margin-top: 20px;
    color: gray;
    display: none;
}

.notification:target {
    display: block;
}

button#subscribe-btn {
    width: 100%;
}

.contect-form-imge-container {
    width: 100%;
    position: relative;
    top: 50px;
}

.form-image-container-text {
    background: #FF5400;
    color: var(--img-text);
    padding: 20px;
    border-radius: 5px;
    width: 45%;
    text-align: center;
    transform: rotate(-22deg);
    margin-left: auto;
    position: relative;
    top: -160px;
    left: -10px;
}

.form-image-container-text>h5 {
    font-size: 20px;
}

.form-image-container-text>h3 {
    font-size: 25px;
    margin-top: 5px;
}

/* form section style end */
/* footer style  */
footer {
    background: rgb(19, 19, 24, 5%);
    margin-top: 50px;
}

.footer-container {
    text-align: center;
    margin: 0 auto;
    width: 800px;
    padding: 70px;
}

ul.footer-icon-container-ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px rgb(19, 19, 24, 20%);
    padding-bottom: 50px;
}

img.footer-icon {
    width: 20px;
}

img.footer-icon.facebook-icon-in-footer {
    width: 10px;
}

.logo-container.footer-logo-container {
    width: 300px;
    margin: 20px auto;
}

p.footer-description {
    margin: 20px;
    color: var(--description-color);
}

p.last-description {
    margin-top: 30px;
    color: var(--description-color);
}

/* footer style end */









@media (min-width: 1124px) and (max-width: 1400px) {
    body {
        margin: 0 auto;
        box-sizing: border-box;
        /* max-width: 1124px; */

    }

    * {
        box-sizing: border-box;
    }

    header,
    main {
        padding: 0px 50px;
    }

    /* header responsive  */
    .header-container-input {
        padding-top: 0px !important;
        padding: 50px;
    }

    .header-titel-container {
        padding: 100px 100px 30px 100px;
    }

    .header-input-felt {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        gap: 30px;
        padding: 50px 30px;
        width: 100%;

    }
    .header-input-parent>button {
        width: 230px;
        flex: 0 0 50%;
    }

    section.feature-section {
        justify-content: space-evenly;
    }

    .feature-card.best-price-guarantee {
        margin-top: 30px;
    }

    section.feature-section {
        justify-content: center;
        margin: 0 auto;
    }

    .feature-card.best-price-guarantee {
        flex: 0 0 42%;
    }

    .feature-card {
        width: 42%;
    }

    h1.header-title {
        font-size: 45px;
    }

    p.header-description {
        font-size: 13px;
    }

    /* destination-card section */
    section.destination-section-1>div>a>div {
        padding: 110px 180px;
    }

    section.destination-section-3>div>a>div>h2 {
        padding: 100px 110px;
    }

    section.destination-section-2>div>a>div>h2 {
        padding: 87px 85px;
    }

    /* feature section */

    .feature-card {
        width: 42%;
    }

    /* contact - form  */
    .contect-form-imge-container {
        width: 100%;
    }

    .contect-form-imge-container img {
        width: 100%;
    }

    .content-form-container {
        padding: 20px;
        width: 48%;
    }

    h3.contect-header {
        font-size: 32px;
        margin: 10px 0;
    }

    .content-form-container input {
        width: 100%;
    }

    /* tore section */
    .trues-container {
        width: 49%;
    }

    /* plan section  */
    section.tore-packge-container-section-1,
    section.tore-packge-container-section-2,
    section.tore-packge-container-section-3 {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        padding: 100px;
    }
    /* promo section  */
    .promo-text-container, .promo-video-container {
        width: 100%;
    }
    section.promo-section.video-section {
        margin-bottom: 50px;
    }
    h2.promo-text-container-title.hero-section-header {
        font-size: 2.3rem;
        margin-bottom: 10px;
    }
    /* hero section style  */
    .hero-sections {
        margin: 70px auto;
    }
    /* footer responsive  */
    footer{
        margin: 0;
    }
    .footer-container {
        padding: 20px;
    }

}



















/* mini laptop responsive  */
@media (min-width: 992px) and (max-width: 1123px) {
    body {
        margin: 0 auto;
        box-sizing: border-box;
        /* max-width: 1124px; */

    }

    * {
        box-sizing: border-box;
    }

    header,
    main {
        padding: 0px 50px;
    }
    /* header responsive  */
    .header-container {
        margin: 30px auto;
    }
    ul.nav-container-li {
        gap: 35px;
    }
    .header-container-input {
        padding-top: 0px !important;
        padding: 50px;
    }

    .header-titel-container {
        padding: 100px 100px 30px 100px;
    }

    .header-input-felt {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        gap: 30px;
        padding: 50px 30px;
        width: 100%;

    }
    .header-input-parent>button {
        width: 230px;
        flex: 0 0 50%;
    }

    section.feature-section {
        justify-content: space-evenly;
    }

    .feature-card.best-price-guarantee {
        margin-top: 30px;
    }

    section.feature-section {
        justify-content: center;
        margin: 0 auto;
    }

    .feature-card.best-price-guarantee {
        flex: 0 0 40%;
    }

    h1.header-title {
        font-size: 45px;
    }

    p.header-description {
        font-size: 13px;
    }

    /* destination-card section */
    section.destination-section-1>div>a>div {
        padding: 100px 154px;
    }

    section.destination-section-3>div>a>div>h2 {
        padding: 90px 85px;
    }

    section.destination-section-2>div>a>div>h2 {
        padding: 77px 66px;
    }

    /* feature section */

    .feature-card {
        width: 40%;
        margin: 20px;
        padding: 20px;
    }
    .feature-card:hover{
        width: 40%;
        margin: 20px;
        padding: 20px;
    }
    /* contact - form  */
    .contect-form-imge-container {
        width: 100%;
    }

    .contect-form-imge-container img {
        width: 100%;
    }

    .content-form-container {
        padding: 20px;
        width: 48%;
    }

    h3.contect-header {
        font-size: 32px;
        margin: 10px 0;
    }

    .content-form-container input {
        width: 100%;
    }

    /* tore section */
    .trues-container {
        width: 49%;
    }

    /* plan section  */
    section.tore-packge-container-section-1,
    section.tore-packge-container-section-2,
    section.tore-packge-container-section-3 {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        padding: 40px;
    }
    /* promo section  */
    .promo-text-container, .promo-video-container {
        width: 100%;
    }
    section.promo-section.video-section {
        margin-bottom: 50px;
    }
    h2.promo-text-container-title.hero-section-header {
        font-size: 2.3rem;
        margin-bottom: 10px;
    }
    /* hero section style  */
    .hero-sections {
        margin: 40px auto;
    }
    /* footer responsive  */
    footer{
        margin: 0;
    }
    .footer-container {
        padding: 20px;
    }
}






















/* Phone responsive  */

@media only screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0 auto;
        box-sizing: border-box;
    }

    header,
    main {
        padding: 0 3%;

    }

    /* header style responsive  */
    header#home {
        margin-bottom: 0px;
    }

    .header-container {
        margin: 20px auto;
        justify-content: space-between;
    }

    .logo-container>a {
        gap: 5px;
    }

    h1.logo-text {
        font-size: 25px;
        font-weight: 700;
    }

    img.logo-img {
        width: 45px;
    }

    nav.nav-container {
        display: none;
    }

    .nav-icon-container {
        display: block;
    }

    .header-titel-container {
        text-align: center;
        width: 280px;
        margin: 0 auto;
        padding: 0;
        padding-top: 30px;
        margin-bottom: 20px;

    }


    .header-container-heading {

        background-repeat: no-repeat;
        width: 100%;
        margin-top: 20px;
        border-radius: 10px;
    }

    p.header-description {
        color: var(--img-text);
        font-size: 15px;
        font-weight: 300;
        line-height: 22px;
    }

    h1.header-title {
        color: var(--img-text);
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 10px;
    }

    .header-input {
        padding: 20px 30px;
        min-width: 100%;
        border-radius: 5px;
        border: none;
        width: 100%;
        font-size: 18px;
    }

    .header-input-felt {
        display: flex;
        margin: 0 auto;
        gap: 0;
        padding: 0;
        width: 84%;
        border-radius: 10px;
        backdrop-filter: contrast(0.7);
        flex-direction: column;
        padding: 30px 0 10px 0;
    }

    .header-container-input {
        text-align: left;
        padding-bottom: 20px;
    }

    .header-input-parent {
        width: 230px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    /* header responsive end */
    /* main responsive */
    /* our pupilar responsive -----   ----  and hero section responsive  */
    .our-popular-tours {
        display: flex;
        flex-direction: column;
    }

    .trues-container {
        width: 100%;
        margin-top: 20px;
    }

    h2.our-popular-tours,
    h2.hero-section-header {
        font-size: 24px;

    }

    ul.our-popular-tours-feature,
    p.hero-sections-description {
        width: 100%;
        line-height: 21px;
    }

    .hero-sections {
        width: 100%;
        margin: 30px auto;
    }

    /* our pupilar responsive -----   ----  and hero section responsive end */

    section.destination-section-1 {
        display: flex;
        gap: 0;
        cursor: pointer;
        flex-direction: column;
    }

    section.destination-section-1>div>a>div>h2 {
        color: var(--img-text);
        font-weight: 700;
        font-size: 32px;
        padding: 0;
    }

    section.destination-section-1>div>a>div {
        padding: 85px 0;
    }

    .destination-card {
        padding: 84px 120px;
    }

    section.destination-section-2>div>a>div {
        padding: 90px 85px;
    }

    img.indonesia-img,
    img.maldives-img,
    .indonesia-img {
        width: 100%;
    }

    section.destination-section-1 h2.destination-text {
        color: var(--img-text);
        font-weight: 700;
        font-size: 30px;
        margin: 0 auto;
        text-align: center;
    }

    section.destination-section-2 {
        margin: 0 auto;
        display: flex;
        justify-self: center;
        flex-direction: column;
    }

    section#section {
        margin: 0 auto;
    }

    section.destination-section-2>div {
        margin: 0;
    }

    div#destination-item-north-america>a>div>h2 {
        text-align: center;
    }

    section.destination-section-2>div>a>div>h2 {
        padding: 0;
        width: 100%;
        text-align: center;
    }

    section.destination-section-3>div>a>div>img {
        width: 100%;
    }

    section.destination-section-3 div:last-child {
        background-size: cover;
    }

    section.destination-section-3 {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
    }

    /* feature responsive  */
    .feature-card.best-price-guarantee {
        flex: 1;
        margin: 20px auto;
        width: 100%;
    }

    .destination-item {
        background-size: cover;
    }

    .feature-card {
        margin: 20px auto;
        padding: 20px;
        /* width: 500px; */
        width: 100%;
        border: solid 1px #ff8b8b;
        border-radius: 20px;
        background-color: rgba(233, 68, 68, 5%);
    }
    
    .feature-card:hover {
        margin: 20px auto;
        width: 100%;
        background-color: rgba(29, 206, 246, 5%);
        border-radius: 20px;
        padding: 20px;
    }

    /* package-section - responsive */
    .tore-text-info {
        width: 100%;
        background: rgba(255, 255, 255, 85%);
        padding: 20px;
        border-radius: 10px;
    }

    section.tore-packge-container-section-2 .tore-text-info {
        left: 0;
    }

    section.tore-packge-container-section-1,
    section.tore-packge-container-section-2,
    section.tore-packge-container-section-3 {
        margin-bottom: 30px;
        padding: 0;
    }

    #destination-item-maldives {
        margin-bottom: 20px;
    }

    section.destination-section-3>div>a>div>h2 {
        padding: 0;
        text-align: center;
    }

    p.tore-packge-info-description {
        margin-bottom: 10px;
        line-height: 24px;
    }

    h2.tore-packge-info-title {
        margin-bottom: 10px;
        font-size: 20px;
    }

    ul.tore-infor-unorder-list {
        padding: 0;
        justify-content: normal;
        margin-bottom: 10px;
        flex-wrap: wrap;
        gap: 10px;
    }

    span.tore-packge-price {
        font-size: 20px;
    }

    span.tore-infor-unorder-list-description,
    p.tore-packge-info-description {
        font-size: 14px;
    }

    button.primary-btn.tore-package-button {
        margin-top: 10px;
    }

    img.tore-image {
        width: 240%;
    }

    section.tore-packge-container-section-1,
    section.tore-packge-container-section-2,
    section.tore-packge-container-section-3 {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        padding: 190px 60px 20px 25px;
        width: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
    }

    ul.tore-infor-unorder-list li:first-child {
        flex: 0 0 100%;
    }

    /* promo-section style  */
    section.promo-section.video-section {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 0;
    }

    .promo-text-container,
    .promo-video-container {
        width: 100%;
        margin-bottom: 50px;
    }

    h2.promo-text-container-title.hero-section-header {
        font-size: 2rem;
        font-weight: 600;
    }

    ul.promo-text-container-ul {
        margin: 0px 0px 0px 5%;
        line-height: 23px;
    }

    ul.promo-text-container-ul>li {
        font-weight: normal;
    }

    p.promo-text-container-description {
        margin: 20px 0;
        font-size: 17px;
        line-height: 23px;
    }

    /* promo section responsive end  */
    /* form section responsive */
    section.contect-form-section {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    }

    .contect-form-imge-container {
        width: 100%;
        position: unset;
    }

    .contect-form-imge-container img {
        width: 100%;
        /* position: relative; */

    }

    p.content-description {
        width: 100%;
    }

    h3.contect-header {
        font-size: 32px;
    }

    .content-form-container input {
        width: 95%;
        padding: 15px 0px 15px 15px;

    }

    .form-image-container-text {
        padding: 15px;
        transform: rotate(-14deg);
        position: relative;
        top: -103px;
        width: 50%;
    }

    .form-image-container-text>h5 {
        font-size: 16px;
    }

    .form-image-container-text>h3 {
        font-size: 18px;
    }

    /* footer style responsive  */
    footer {
        margin-top: 0;
    }

    .footer-container {
        width: 100%;
        padding: 20px 0;
    }

    .logo-container.footer-logo-container {
        width: 50%;
        margin: 20px auto;
    }

    ul.footer-icon-container-ul {
        padding-bottom: 20px;
    }

    /* footer responsive end */
}